
    <ion-card>
        <ion-card-header>
         <h3>Rechercher devis</h3>
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Référence"></ion-input>
                        <ion-input placeholder="Client"></ion-input>
                      </ion-col>
                  <ion-col>
                    <ion-item >
                        <ion-label>Etat</ion-label>
                        <ion-select placeholder="Sélection">
                          <ion-select-option value="f">Female</ion-select-option>
                          <ion-select-option value="m">Male</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-label>Date de création</ion-label>
                        <ion-datetime displayFormat="D MMM YYYY" min="2000" max="2050" display-timezone="utc"></ion-datetime>
                      </ion-item>


                  </ion-col>

                </ion-row>

              </ion-grid>
            <div class="container-image">
                <div class="enregistrer">
                    <ion-button color="success">Rechercher</ion-button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h2>Resultat</h2>
           </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>Nom</ion-col>
                    <ion-col>Prenom</ion-col>
                    <ion-col> Mail</ion-col>
                </ion-row>
                <ion-row *ngFor="let dev of devis">
                    <ion-col>
                        <ion-label center text-center>{{dev.devisLibelle}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label center text-center>{{dev.devisEtat}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label center text-center>{{dev.devisPrixTTC}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

