<div class="footer">
    <div class="container-image">

        <!--<div class="nouveau-client">-->
        <!--<ion-button size="default" color="secondary">Nouveau client</ion-button>
            </div>

        <!--<div class="nouveau-projet">
        <ion-button size="default" color="secondary">Nouveau projet</ion-button>
         </div>-->
        <!--<div class="modifier">
            <ion-button expand="block" color="secondary">Modifier</ion-button>
        </div>-->
        <!--<ion-button size="default" color="secondary">Nouveau gamme</ion-button>
        <ion-button size="default" color="secondary">Nouveau famille</ion-button>
         </div>-->
        <!--<div class="nouveau-composant">
            <ion-button size="default" color="secondary">Nouveau composant</ion-button>
        </div>-->

        <div class="enregistrer">
            <ion-button color="success">Enregistrer</ion-button>
        </div>

        <!--<!--<div class="annuler">
            <ion-button expand="block" color="danger">Annuler</ion-button>
        </div>-->

        <div class="retour">
            <ion-button size="default" color="danger">Retour</ion-button>
        </div>

        <!--<p>Madera 2020</p>-->
    </div>
</div>

