<ion-col size="12">
<ion-content>
    <ion-card>
        <form [formGroup]="form" (ngSubmit)="searchFamComposant()">
        <ion-card-header>
         <h3>Rechercher famille composant</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Nom de la famille de composants" formControlName="reference"></ion-input>
                    </ion-col>
                    <ion-col>
                    <div class="container-image">
                      <div class="enregistrer">
                          <ion-button color="success" type="submit">Rechercher</ion-button>
                      </div>
                    </div>
                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
        </form>
    </ion-card>
    <ion-card style="height:680px;" scroll-y="true"  class="groupList">
        <ion-card-header *ngIf="(famComposant$ | async)?.length>0"> 
           </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <div class="col-text-titre"> 
                <ion-row>
                    <ion-col>Nature de la famille composant</ion-col>
                    <!-- <ion-col>Caractéristiques</ion-col> -->
                </ion-row>
                </div>
                <div class="col-text" >
                <ion-row *ngFor="let fam of (famComposant$ | async)">
                    <ion-col>
                        <ion-label center text-center>{{fam.libelleFamilleComposant}}</ion-label>
                    </ion-col>
                    <!-- <ion-col>
                        <ion-label center text-center>{{fam.familleComposantLibelle}}</ion-label>
                    </ion-col> -->
                </ion-row>
                </div>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
    <ion-footer>
        <div class="footer footer-btn" >
            <div class="container-image">

                <div class="retour-btn">
                    <ion-button size="block" color="danger"  [routerLink]="['/menu-principal']">Retour</ion-button>
                </div>

                <div class="nouveau-btn">
                    <ion-button expand="block" color="secondary" [routerLink]="['/nouvelle-famille-composant']">Nouvelle famille</ion-button>
                    <!-- <ion-button expand="block" color="secondary"  [routerLink]="['/nouvelle-famille-composant']">Nouvelle famille</ion-button> -->
                </div>
            </div>
        </div>
    </ion-footer>   
</ion-col>