
    <ion-card>
        <ion-card-header>
         <h3>Rechercher famille composant</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Nom de la famille de composants"></ion-input>
                    </ion-col>
                    <ion-col>
                    <div class="container-image">
                      <div class="enregistrer">
                          <ion-button color="success">Rechercher</ion-button>
                      </div>
                    </div>
                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h2>Resultat</h2>   
           </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>Nature</ion-col>
                    <ion-col>Caractéristiques</ion-col>
                </ion-row>
                <ion-row *ngFor="let fam of familleComposant">
                    <ion-col>
                        <ion-label center text-center>{{fam.familleComposantId}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label center text-center>{{fam.familleComposantLibelle}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
