<ion-col size="12">
 
<form [formGroup]="form" (ngSubmit)="save()">
  <ion-card >
      <ion-card-header>
        <h3>
          <ion-label>Création plan </ion-label>
        </h3>
      </ion-card-header>
      <hr class="solid">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-input formControlName="libelleNom">Clent :</ion-input>
            </ion-col>
            <ion-col>
                <ion-input formControlName="libelleProjet"> Nom du projet :</ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  
    <ion-footer>
      <div class="footer footer-btn">
        <div class="container-image">
  
          <div class="retour-btn">
            <ion-button size="block" color="danger" [routerLink]="['/menu-principal']" routerDirection="forward">Annuler</ion-button>
          </div>
  
          <div class="nouveau-btn">
            <ion-button expand="block" color="success" type="submit">Enregistrer</ion-button>
          </div>
        </div>
      </div>
    </ion-footer>

</form>
  </ion-col>
  
  