<ion-col size="12">
 
<form [formGroup]="form" (ngSubmit)="save()">
<ion-card>
    <ion-card-header>
      <h3>Création d'un commercial</h3>
    </ion-card-header>
    <hr class="solid">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Nom" formControlName="nomCommercial"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Prénom" formControlName="prenomCommercial"></ion-input>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-datetime placeholder="Date de naissance" displayFormat="D MMM YYYY" min="1930" max="2050" display-timezone="utc" ></ion-datetime>
              <ion-input type="hidden"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="lastRow">
          <ion-col>
            <ion-input placeholder="Numéro de téléphone" type="number" minlength="1" maxlength="10" ></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Adresse mail" type="email"  pattern=".+@" size="35"  minlength="3" maxlength="35"  formControlName="emailCommercial"></ion-input>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input placeholder="Remarques" ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <div class="footer footer-btn">
      <div class="container-image">
        <div class="retour-btn">
          <ion-button size="block" color="danger"[routerLink]="['/menu-principal']"routerDirection="forward">Retour</ion-button>
        </div>
        <div class="nouveau-btn">
          <ion-button expand="block" color="success" type="submit" >Enregistrer</ion-button>
        </div>
      </div>
    </div>
  </ion-footer>
</form>
</ion-col>