<div [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
<ion-card>
    <ion-card-header>
      <h3>Création d'un commercial</h3>
    </ion-card-header>
    <hr class="solid">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Nom"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Prénom" ></ion-input>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Date de naissance</ion-label>
              <ion-datetime displayFormat="D MMM YYYY" min="2000" max="2050" display-timezone="utc" ></ion-datetime>
              <ion-input type="hidden"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="lastRow">
          <ion-col>
            <ion-input placeholder="Numéro de téléphone"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Adresse mail" ></ion-input>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input placeholder="Remarques" ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <div class="footer footer-btn">
      <div class="container-image">
        <div class="retour-btn">
          <ion-button size="block" color="danger"[routerLink]="['/menu-principal']"routerDirection="forward">Retour</ion-button>
        </div>
        <div class="nouveau-btn">
          <ion-button type="submit" expand="block" color="success">Enregistrer</ion-button>
        </div>
      </div>
    </div>
  </ion-footer>
</div>