@model Madera.Models.Composant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Composant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_COMPOSANT" />
            <div class="form-group">
                <label asp-for="LIBELLE_COMPOSANT" class="control-label"></label>
                <input asp-for="LIBELLE_COMPOSANT" class="form-control" />
                <span asp-validation-for="LIBELLE_COMPOSANT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NATURE_COMPOSANT" class="control-label"></label>
                <input asp-for="NATURE_COMPOSANT" class="form-control" />
                <span asp-validation-for="NATURE_COMPOSANT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CARACT_COMPOSANT" class="control-label"></label>
                <input asp-for="CARACT_COMPOSANT" class="form-control" />
                <span asp-validation-for="CARACT_COMPOSANT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UNITE_USAGE_COMPOSANT" class="control-label"></label>
                <input asp-for="UNITE_USAGE_COMPOSANT" class="form-control" />
                <span asp-validation-for="UNITE_USAGE_COMPOSANT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
