<ion-col size="12">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-card>
        <ion-card-header>
         <h3>Création d'une famille de composant</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Libelle" formControlName="libelleFamComposant"></ion-input>
                    </ion-col>
                    <ion-col>

                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header *ngIf="(composant$ | async)?.length>0">
            <h2>Resultat</h2>   
           </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>Libelle</ion-col>
              <ion-col>Nature</ion-col>
              <ion-col>Carat</ion-col>
              <ion-col></ion-col>
            </ion-row>
            <ion-row *ngFor="let compo of (composant$ | async)">
              <ion-col>
                <ion-label center text-center>{{compo.libelleComposant}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label center text-center>{{compo.natureComposant}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label center text-center>{{compo.caractComposant}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-checkbox></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-footer>
        <div class="footer footer-btn" >
            <div class="container-image">
              <div class="retour-btn">
                  <ion-button size="block" color="danger" [routerLink]="['/recherche-famille-composant']">Annuler</ion-button>
              </div>
              <div class="nouveau-btn">
                    <ion-button expand="block" color="success" type="submit" >Enregistrer</ion-button>
              </div>
            </div>
        </div>
    </ion-footer>
</form>
</ion-col>
