
    <ion-card>
        <ion-card-header>
         <h3>Création d'une famille de composant</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Libelle"></ion-input>
                    </ion-col>
                    <ion-col>

                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h2>Resultat</h2>   
           </ion-card-header>
            <ion-card-content>
            </ion-card-content>
    </ion-card>

