.nav {
  background-color: #4E71BE;
  border-radius: 0px 0px 25px 25px;
  height: 100px;
}

.container-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -10px;
}

.recherche-projet {
  height: 70px;
  width: 76px;
}

.nouveau-projet {
  height: 70px;
  width: 76px;
}

.recherche-devis {
  height: 70px;
  width: 76px;
}

.logo-Madera {
  margin-top: 15px;
  height: 104px;
  width: 130px;
}

.recherche-client {
  height: 70px;
  width: 76px;
}

.nouveau-client {
  height: 70px;
  width: 76px;
}

.parametres {
  height: 70px;
  width: 76px;
}
