<!--<ion-header>-->
<!--<app-header></app-header>-->
<app-header-menu></app-header-menu>
<!--</ion-header>-->

<ion-content>
    <ion-card>
        <ion-card-header>
         <h3>Création d'un module</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Libelle"></ion-input>
                        <ion-input placeholder="Hauteur"></ion-input>
                      </ion-col>
                  <ion-col>
                    <ion-item > 
                        <ion-label>Caractéristiques</ion-label>
                        <ion-select placeholder="">
                          <ion-select-option value="f">Female</ion-select-option>
                          <ion-select-option value="m">Male</ion-select-option>
                        </ion-select>
                      </ion-item>

                      <ion-input placeholder="Longueur"></ion-input>
                  </ion-col>
        
                </ion-row>

              </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h2>Resultat</h2>   
           </ion-card-header>
            <ion-card-content>
            </ion-card-content>
    </ion-card>
</ion-content>

<!--<ion-footer>-->
<app-footer></app-footer>
<!--</ion-footer>-->