.ion-datetime{

    padding-top: 10px;

  }

.ion-card-header{

    padding-bottom: 5px;
  }

hr.solid {
    border-top: 3px solid #bbb;
    width: 90%;
  }

.container-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 7px;
  }

