<ion-header>
    <div class="nav">
        <div class="container-image">
            <div class="recherche-projet">
                <img src="../assets/image/menu-recherche_projet.png" />
            </div>

            <div class="nouveau-projet">
                <img src="../assets/image/menu-nouveau_projet.png" />
            </div>

            <div class="recherche-devis">
                <img src="../assets/image/menu-recherche_devis.png" />
            </div>

            <div class="logo-Madera">
                <img src="../assets/image/logo-madera-sanstexte.png" />
            </div>

            <div class="recherche-client">
                <img src="../assets/image/menu-recherche_client.png" />
            </div>

            <div class="nouveau-client">
                <img src="../assets/image/menu-nouveau_client.png" />
            </div>

            <div class="parametres">
                <img src="../assets/image/menu-parametre.png" />
            </div>

        </div>
    </div>
</ion-header>

