    <div class="nav">
        <div class="container-image">

            <div class="recherche-projet">
                <img (click)="goTo(1)" src="../assets/image/menu-recherche_projet.png" />
            </div>

            <div class="nouveau-projet">
                <img (click)="goTo(2)" src="../assets/image/menu-nouveau_projet.png" />
            </div>

            <div class="recherche-devis">
                <img (click)="goTo(3)" src="../assets/image/menu-recherche_devis.png" />
            </div>

            <div class="logo-Madera">
                <img (click)="goTo(4)" src="../assets/image/logo-madera-sanstexte.png" />
            </div>

            <div class="recherche-client">
                <img (click)="goTo(5)" src="../assets/image/menu-recherche_client.png" />
            </div>

            <div class="nouveau-client">
                <img (click)="goTo(6)" src="../assets/image/menu-nouveau_client.png" />
            </div>

            <div class="parametres">
                <img (click)="goTo(7)" src="../assets/image/menu-parametre.png" />
            </div>

        </div>
    </div>
