<ion-col size="12">
  <ion-content>
  <ion-card *ngIf="projet$ as projet">
    <ion-card-header>
      <h3>
        <ion-label>Référence du projet : {{projet.libelleProjet}}</ion-label>
      </h3>
    </ion-card-header>
    <hr class="solid">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="(client$ | async) as client">
              <ion-label>Client : {{client.nomClient}} {{client.prenomClient}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label></ion-label>
            </ion-item>
            <ion-item>
              <ion-label></ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Date de création : {{projet.dateDebutProjet | date:'dd/MM/yyyy'}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Date de modification : {{projet.dateModification | date:'dd/MM/yyyy'}}</ion-label>
            </ion-item>
            <ion-item *ngIf="projet.commercial">
              <ion-label>Commercial : {{commercial.nomCommercial}} {{commercial.prenomCommercial}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

     <ion-card>
        <ion-card-header>       
          <ion-row class="ion-justify-content-between">
            <h5>Plan associés</h5>
            <ion-button type="submit" size="small" [routerLink]="['/nouveau-plan', projet.id]" class="ion-align-self-end" color="primary">Créer</ion-button>
          </ion-row>
         
          <hr class="solid">
        </ion-card-header>
        <ion-card-content>
          <div class="col-text">
            <ion-grid>
              <ion-row>
                <ion-col size="2">Référence</ion-col>
                <ion-col size="3">Nom</ion-col>
                <ion-col size="3">Début de création</ion-col>
                <ion-col size="3">Dernière mise à jour</ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center" *ngFor="let plan of plans$ | async">
                <ion-col size="2">
                  <ion-label center text-center>{{plan.referencePlan}}</ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label center text-center>{{plan.libellePlan}}</ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label center text-center>{{plan.dateCreation | date:'dd/MM/yyyy'}}</ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label center text-center>{{plan.dateModification | date:'dd/MM/yyyy'}}</ion-label>
                </ion-col>
                <ion-col size="1">
                  <ion-button [routerLink]="['/gestion-plan/', plan.id]">
                    <ion-icon size="small" name="eye"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
    </ion-card> 

    <ion-card>
        <ion-card-header>
          <h5>Devis associés</h5>
          <hr class="solid">
        </ion-card-header>
      <ion-card-content>
        <div class="col-text">
          <ion-grid>
            <ion-row>
              <ion-col size="2">Référence</ion-col>
              <ion-col size="3">Référence du plan</ion-col>
              <ion-col size="3">Date de création</ion-col>
              <ion-col size="3">Dernière mise à jour</ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center"  *ngFor="let devis of (devis$ | async)">
              <ion-col size="2">
                <ion-label center text-center>{{devis.libelleDevis}}</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label center text-center>{{devis.plan.referencePlan}}</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label center text-center>{{devis.dateCreation | date:'dd/MM/yyyy'}}</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label center text-center>{{devis.dateModification | date:'dd/MM/yyyy'}}</ion-label>
              </ion-col>
              <ion-col size="1">
                <ion-button [routerLink]="['/gestion-devis/', devis.id]">
                  <ion-icon size="small" name="eye"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card> 

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-textarea [(ngModel)]="remarque" #ctrl="ngModel" placeholder="Remarque :"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card> 
    
  </ion-card>

  <ion-footer>
    <div class="footer footer-btn">
      <div class="container-image">
        
        <div class="retour-btn">
          <ion-button size="block" color="danger" (click)="back()" routerDirection="forward">Retour</ion-button>
        </div>

        <div class="nouveau-btn">
          <ion-button expand="block" color="secondary" (click)="save()" routerDirection="forward">Enregistrer</ion-button>
        </div>
      </div>
    </div>
  </ion-footer>
</ion-content>
</ion-col>