
    <ion-card>
        <ion-card-header>
         <h3>Rechercher composant</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Nom du composant"></ion-input>
                    </ion-col>
                    <ion-col>
                    <div class="container-image">
                      <div class="enregistrer">
                          <ion-button color="success">Rechercher</ion-button>
                      </div>
                    </div>
                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h2>Resultat</h2>   
           </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>Libelle</ion-col>
              <ion-col>Nature</ion-col>
              <ion-col>Carat</ion-col>
            </ion-row>
            <ion-row *ngFor="let compo of composant">
              <ion-col>
                <ion-label center text-center>{{compo.composantLibelle}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label center text-center>{{compo.composantNature}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label center text-center>{{compo.composantCaract}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
