
    <ion-card>
        <ion-card-header>
         <h3>Rechercher composant</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Nom du composant"></ion-input>
                    </ion-col>
                    <ion-col>
                    <div class="container-image">
                      <div class="enregistrer">
                          <ion-button color="success">Rechercher</ion-button>
                      </div>
                    </div>
                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h2>Resultat</h2>   
           </ion-card-header>
            <ion-card-content>
            </ion-card-content>
    </ion-card>
