<ion-header>
  <ion-toolbar>
    <ion-title>Menu_Principal</ion-title>
  </ion-toolbar>
</ion-header>



<ion-grid>
    <ion-row>
        <ion-col>
            <img style="margin-left: 25%" height="225" width="280" src="assets/image/logo-madera.png">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="padding: 20px" size="4">
            <ion-img height="130" width="140" src="assets/image/menu-recherche_projet.png"></ion-img>
            <ion-label>Recherche projet</ion-label>
        </ion-col>
        <ion-col style="padding: 20px" size="4">
            <ion-img height="130" width="140" src="assets/image/menu-nouveau_projet.png"></ion-img>
            <ion-label>Nouveau projet</ion-label>
        </ion-col>
        <ion-col style="padding: 20px" size="4">
            <ion-img height="130" width="140" src="assets/image/menu-recherche_devis.png"></ion-img>
            <ion-label>Recherche devis</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="padding: 20px" size="4">
            <ion-img height="130" width="140" src="assets/image/menu-recherche_client.png"></ion-img>
            <ion-label>Recherche client</ion-label>
        </ion-col>
        <ion-col style="padding: 20px" size="4">
            <ion-img height="130" width="140" src="assets/image/menu-nouveau_client.png"></ion-img>
            <ion-label>Nouveau client</ion-label>
        </ion-col>
        <ion-col style="padding: 20px" size="4">
            <ion-img height="130" width="140" src="assets/image/menu-parametre.png"></ion-img>
            <ion-label>Paramétrage</ion-label>
        </ion-col>
    </ion-row>
</ion-grid>

