
    <ion-card>
        <ion-card-header>
         <h3>Rechercher client</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Nom du client"></ion-input>
                    </ion-col>
                    <ion-col>
                    <div class="container-image">
                      <div class="enregistrer">
                          <ion-button color="success">Rechercher</ion-button>
                      </div>
                    </div>
                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h2>Resultat</h2>   
           </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>Nom</ion-col>
                    <ion-col>Prenom</ion-col>
                    <ion-col>Date-création</ion-col>
                    <ion-col>Date-modification</ion-col>
                    <ion-col>Commercial</ion-col>
                    <ion-col>Actif</ion-col>
                </ion-row>
                <ion-row *ngFor="let cli of client">
                    <ion-col>
                        <ion-label center text-center>{{cli.clientNom}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label center text-center>{{cli.clientPrenom}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label center text-center>{{cli.clientDateCrea}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label center text-center>{{cli.clientDateModif}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label center text-center>{{cli.clientNom}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-footer>
        <div class="footer footer-btn" >
            <div class="container-image">
                <ion-button size="default" color="secondary">Nouveau client</ion-button>
            </div>
        
        </div>
    </ion-footer>

