// HAUT DE LA PAGE
ion-card{
  border: 2px solid #bbb;
  padding-bottom: 5px;
}

ion-card-header{
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-card-content{
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-item{
  padding-top: 0px;
  padding-bottom: 2px;
}

ion-input {
  padding-top: 4px;
  padding-bottom: 4px;
}


mat-cell {
  color:gray;
}

mat-header-row, mat-row, mat-footer-row {
display: flex;
border-width: 0;
border-bottom-width: 0px;
border-style: solid;
align-items: center;
box-sizing: border-box;
}

h3 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 20px;
}

.dateItem{
  padding-top: 4px;
  padding-bottom: 2px;
}

hr.solid {
  border-top: 2px solid #bbb;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
}


// CENTRE DE LA PAGE
.mat-elevation-z8 {
  width: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 0px 3px 3px 3px;
  padding: 2px;
}

.Ref {
  margin-top: 5px;
}

.client{
  margin-top: 0px;
  margin-bottom: 0px;
}