<ion-col size="12">
    <ion-content>

    <ion-card>
        <form [formGroup]="form" (ngSubmit)="searchClient()">
        <ion-card-header>
         <h3>Rechercher client</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Nom du client" formControlName="reference"></ion-input>
                    </ion-col>
                    <ion-col>
                    <div class="container-image">
                        <ion-button (click)="loadClient()" type="reset" color="danger">Réinitialiser</ion-button>
                        <ion-button type="submit" color="success">Rechercher</ion-button>
                    </div>
                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
    </form>
    </ion-card>

    <ion-card style="height:680px;" scroll-y="true"  class="groupList">
        <ion-card-header *ngIf="(client$ | async)?.length>0">
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
            <div class="col-text-titre"> 
                <ion-row>
                    <ion-col text-center>Nom</ion-col>
                    <ion-col text-center>Prenom</ion-col>
                    <ion-col text-center>Ville</ion-col>
                    <ion-col text-center>Création</ion-col>
                    <!-- <ion-col>Commercial</ion-col> -->
                    <ion-col size="1"></ion-col>
                </ion-row>
            </div>
            <div class="col-text" >
                <ion-row *ngFor="let cli of (client$ | async)">
                    <ion-col>
                      <ion-label  text-center>{{cli.nomClient}}</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label  text-center>{{cli.prenomClient}}</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label  text-center>{{cli.villeClient</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label  text-center>{{cli.dateCreation| date: 'dd/MM/yyyy'}}</ion-label>
                    </ion-col>
                    <ion-col size="1">
                        <ion-button [routerLink]="['/client/', cli.id]">
                          <ion-icon size="small" name="eye"></ion-icon>
                        </ion-button>
                      </ion-col>
                </ion-row>
            </div>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
    <ion-footer>
        <div class="footer footer-btn" >
            <div class="container-image">

                <div class="retour-btn">
                    <ion-button size="block" color="danger" [routerLink]="['/menu-principal']"routerDirection="forward">Retour</ion-button>
                </div>
                <div class="nouveau-btn">
                    <ion-button size="default" color="secondary" [routerLink]="['/nouveau-client']">Nouveau client</ion-button>
                </div>
            </div>
        
        </div>
    </ion-footer>
</ion-col>
