.footer {
  background-color: #4E71BE;
  //text-align: center;
  border-radius: 25px 25px 0px 0px;
  //height: 40px; 
  height: 60px; //si le footer a des btn
  padding-top: 0px;
}

.container-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7px;
}

p {
  padding-top: 10px;
  color: white;
}

ion-button {
  width: 206px;
  height: 40px;
  color: white;
}
// Placement des btn
.nouveau-projet {
  text-align: center;
  //padding-bottom: 5px;
}

.nouveau-client {
  text-align: center;
  //padding-bottom: 5px;
}

.modifier {
  text-align: center;
  //padding-bottom: 5px;
}

.annuler {
  text-align: center;
  //padding-bottom: 5px;
}

.enregistrer {
  text-align: center;
  color: white;
  //padding-bottom: 5px;
}

.retour {
  text-align: center;
  //padding-bottom: 5px;
}

.nouveau-composant {
  text-align: center;
  //padding-bottom: 5px;
}