<ion-col size="12">
  <form [formGroup]="form" (ngSubmit)="save()">
  <ion-card>
    <ion-card-header>
      <h3>
        <ion-label>Nouveau plan :</ion-label>
      </h3>
    </ion-card-header>
    <hr class="solid">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Clent :</ion-label>
            <ion-input placeholder="Adresse du projet :" formControlName="adresse"></ion-input>
            <ion-input placeholder="Ville :" formControlName="ville" ></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="CP :" formControlName="cp"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <h3>
          <ion-label>Caractéristiques du plan</ion-label>
        </h3>
      </ion-card-header>
      <hr class="solid">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-select placeholder="Coupe de principe :" formControlName="cpId"  interface="alert">
                  <ion-select-option *ngFor="let cp of (coupePrincipal$ | async)" value="{{cp.id}}">{{cp.libelleCoupePrincipale}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select placeholder="Taille en mètre :"  interface="alert">
                  <ion-select-option *ngFor="let plan of (plans$ | async)"></ion-select-option>
                </ion-select>
              </ion-item>

              <!-- <ion-item>
                <ion-select placeholder="Gamme :" interface="alert">
                  <ion-select-option *ngFor="let gam of (gammes$ | async)">{{gam.libelleGamme}}</ion-select-option>
                </ion-select>
              </ion-item> -->

              <ion-item>
                <ion-select placeholder="Type de plancher :" formControlName="plancherId" interface="alert">
                  <ion-select-option *ngFor="let plancher of (planchers$ | async)" value="{{plancher.id}}"> {{plancher.typePlancher}}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-select placeholder="Type de couverture :" formControlName="couvertureId" interface="alert">
                  <ion-select-option *ngFor="let couv of (couvertures$ | async)" value="{{couv.id}}">{{couv.typeCouverture}}</ion-select-option>
                </ion-select>
              </ion-item>

            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-textarea placeholder="Remarque :"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>


    <ion-footer>
      <div class="footer footer-btn">
        <div class="container-image">

          <div class="retour-btn">
            <ion-button size="block" color="danger" (click)="back()" routerDirection="forward">Annuler</ion-button>
          </div>

          <div class="nouveau-btn">
            <ion-button expand="block" color="secondary"  type="submit">Modifer</ion-button>
          </div>
        </div>
      </div>
    </ion-footer>
  </form>
</ion-col>

