<ion-app>
    <ion-header *ngIf="this.router.url != '/' && this.router.url != '/parametrage' && this.router.url != '/menu-principal'" slot="fixed">
        <ion-toolbar translucent="true">
            <div class="nav">
                <div class="container-image">
                    <div class="recherche-projet">
                        <img (click)="goTo('recherche-projet')" src="assets/image/menu-recherche_projet.png" />
                    </div>

                    <div class="nouveau-projet">
                        <img (click)="goTo('nouveau-projet')" src="assets/image/menu-nouveau_projet.png" />
                    </div>

                    <div class="recherche-devis">
                        <img (click)="goTo('recherche-devis')" src="assets/image/menu-recherche_devis.png" />
                    </div>

                    <div class="logo-Madera">
                        <img (click)="goTo('menu-principal')" src="assets/image/logo-madera-sanstexte.png" />
                    </div>

                    <div class="recherche-client">
                        <img (click)="goTo('recherche-client')" src="assets/image/menu-recherche_client.png" />
                    </div>

                    <div class="nouveau-client">
                        <img (click)="goTo('nouveau-client')" src="assets/image/menu-nouveau_client.png" />
                    </div>

                    <div class="parametres">
                        <img (click)="goTo('parametrage')" src="assets/image/menu-parametre.png" />
                    </div>

                </div>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-header *ngIf="this.router.url == '/' || this.router.url == '/parametrage' || this.router.url == '/menu-principal'">
        <div class="header">
            <div class="container-image header">
                <h6 class="t-white">{{this.router.url.replace('/','').replace('-',' ') | titlecase}}</h6>
            </div>
        </div>
    </ion-header>

    <ion-content>
        <ion-router-outlet>
       

            

        </ion-router-outlet>
    </ion-content>

</ion-app>
