<ion-col size="12">
 
  <form [formGroup]="form" (ngSubmit)="save()">
<ion-card>
  <ion-card-header *ngIf="(commercial$ | async)?.length>0">
    <h2>Création d'un client</h2>
  </ion-card-header>
  <hr class="solid">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input formControlName="nomClient" placeholder="Nom"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input formControlName="prenomClient" placeholder="Prénom"></ion-input>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Date de naissance</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" min="1930" max="2050" formControlName="dateNaissance"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Adresse postale" formControlName="adresseClient"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Complément"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Code postale" formControlName="cpClient"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Ville" formControlName="villeClient"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Adresse mail" formControlName="emailClient"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="lastRow">
        <ion-col>
          <ion-input placeholder="Numéro de téléphone" formControlName="telephoneClient"></ion-input>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
        <!-- <ion-item >
          <ion-select placeholder="Commercial"  interface="popover">
            <ion-select-option *ngFor="let com of (commercial$ | async)">{{com.nomCommercial}} {{com.prenomCommercial}}</ion-select-option>
          </ion-select>
        </ion-item> -->
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col>
          <ion-input placeholder="Remarques"></ion-input>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card-content>
</ion-card>

<ion-footer>
  <div class="footer footer-btn">
    <div class="container-image">
      <div class="retour-btn">
        <ion-button size="block" color="danger" [routerLink]="['/recherche-client']">Annuler</ion-button>
      </div>
      <div class="nouveau-btn">
        <ion-button type="submit" expand="block" color="success">Enregistrer</ion-button>
      </div>
    </div>
  </div>
</ion-footer>
</form>
</ion-col>
