<ion-col size="12">
 
  <form [formGroup]="form" (ngSubmit)="save()">
<ion-card>
  <ion-card-header>
    <h2>Création d'un client</h2>
  </ion-card-header>
  <hr class="solid">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input formControlName="nomClient" placeholder="Nom"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input formControlName="prenomClient" placeholder="Prénom"></ion-input>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Date de naissance</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" min="2000" max="2050" value="2005-06-17T11"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Adresse postale"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Complément"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Code postale"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Ville"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Adresse mail" formControlName="emailClient"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="lastRow">
        <ion-col>
          <ion-input placeholder="Numéro de téléphone"></ion-input>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-input placeholder="Commercial"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col>
          <ion-input placeholder="Remarques"></ion-input>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card-content>
</ion-card>

<ion-footer>
  <div class="footer footer-btn">
    <div class="container-image">
      <div class="retour-btn">
        <ion-button size="block" color="danger" [routerLink]="['/recherche-client']">Annuler</ion-button>
      </div>
      <div class="nouveau-btn">
        <ion-button type="submit" expand="block" color="success">Enregistrer</ion-button>
      </div>
    </div>
  </div>
</ion-footer>
</form>
</ion-col>
