<ion-col size="12">
    <form [formGroup]="form" (ngSubmit)="save()">
      <ion-card>
          <ion-card-header *ngIf="(module$ | async)?.length>0"> 
             </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <div class="col-text-titre"> 
              <ion-row>
                <ion-col text-center size="3">Libelle</ion-col>
                <ion-col text-center size="3">Quatité</ion-col>
                <ion-col text-center size="3">Sélection</ion-col>
              </ion-row>
              </div>
              <div class="col-text">
              <ion-row *ngFor="let mod of (module$ | async);let i=index">
                <ion-col class="ion-justify-content-start">
                  <ion-label text-center  size="3">{{mod.libelleModule}}</ion-label>
                </ion-col>
                <ion-col>
                  <ion-input text-center size="3" type="number"  value="0" #quantite formControlName="quanti"></ion-input>                
                </ion-col>
                <!-- <ion-col>
                  <ion-label text-centersize="3" >{{compo.caractComposant}}</ion-label>
                </ion-col> -->
                <ion-col class="ion-justify-content-end" size="3">
                  <ion-checkbox [value]="mod.id" (ionChange)="onCheckboxChange($event, quantite.value)"></ion-checkbox>
                </ion-col>
              </ion-row>
              </div>
            </ion-grid>
          </ion-card-content>
      </ion-card>
  
      <ion-footer>
        <div class="footer footer-btn" >
            <div class="container-image">
              <div class="retour-btn">
                  <ion-button size="block" color="danger">Annuler</ion-button>
              </div>
              <div class="nouveau-btn">
                    <ion-button expand="block" type="submit" color="success">Enregistrer</ion-button>
              </div>
            </div>
        </div>
    </ion-footer>
  </form>
  </ion-col>