
    <ion-card>
        <ion-card-header>
         <h3>Rechercher module</h3>   
        </ion-card-header>
        <hr class="solid">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Nom du module"></ion-input>
                    </ion-col>
                    <ion-col>
                    <div class="container-image">
                      <div class="enregistrer">
                          <ion-button color="success">Rechercher</ion-button>
                      </div>
                    </div>
                    </ion-col>
        
                </ion-row>

              </ion-grid>

        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h2>Resultat</h2>   
           </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>Nature</ion-col>
                    <ion-col>Caractéristiques</ion-col>
                </ion-row>
                <ion-row *ngFor="let mod of module">
                    <ion-col>
                        <ion-label center text-center>{{mod.moduleLibelle}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label center text-center>{{mod.gammeType}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-footer>
        <div class="footer footer-btn" >
            <div class="container-image">

                <div class="retour-btn">
                    <ion-button size="block" color="danger">Retour</ion-button>
                </div>

                <div class="nouveau-module">
                    <ion-button expand="block" color="secondary">Modifier</ion-button>
                </div>
            </div>
        </div>
    </ion-footer>




