// HAUT DE LA PAGE
ion-datetime{
    padding-top: 10px;
  }
  
  ion-card{
    border: 3px solid #bbb;
    padding-bottom: 5px;
  }
  
  ion-card-header{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  ion-card-content{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ion-col{
    padding-right: 10px;
    padding-left: 10px;
  }

  ion-row{
    padding-top: 10px;
  }

  ion-grid{
    padding-bottom: 65px;
  }
  
  hr.solid {
    border-top: 3px solid #bbb;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .container-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 7px;
  }

.lastRow{
    margin-bottom: 390px;
    padding-top: 15px;
  }

